
.card1{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: top;
    
    /* width: 23vw; */
    width: 14.5%;

    height: 100%;
    
   
    background-color: #c5c5c5a2;  
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin-right: 1em; */
    margin: 1%;
    /* padding: 5px; */
    border-radius: 25px ;
    line-height : 1px;
    font-size: 0.7em;
    /* text-overflow: clip; */

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* padding: 3px; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    /* background-color: #fff; */
    transition: all 0.2s;
    overflow: hidden;
    /* position: relative; */
    /* width: 21vw; */
    /* height: 100%; */
    
    
    /* overflow: hidden; */
    /* position: relative; */
   
  }
h2 { 
  /* display:inline-block; */
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  /* max-width: 13ch; */

}
.card1:hover {
    background-color: #5dc76fc9;
    color: beige;
  }
  
.card1 img {
    width: 90%;
    /* object-fit: cover; */
    /* margin: 15px; */
    
    border-radius: 15px ;
    border:4px;
    border-color: black; 
    /* width: 22vw; */
    width: 14vw;

    height: 100%;
    aspect-ratio: 3/2;

  }


  /* .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: all 0.2s;
    overflow: hidden;
    position: relative;
    width: 21vw;
    height: 100%;
    
  }
  
  .card:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .card p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5em;
  }
  
  .card button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
    margin-top: 20px;
  }
  
  .card button:hover {
    background-color: #ccc;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    transition: all 0.2s;
  }
  
  .card:hover::before {
    opacity: 1;
  } */