.country_countainer{
    display: flex;
    flex-wrap: nowrap;
    max-height: 100%;
    justify-content: space-evenly;
    align-items: flex-start
}

.country_info {
    display: flex;
    flex-wrap: wrap;
    /* width: 45%; */
    /* margin: 10px; */
    /* border: 5px solid #535353; */
    /* padding: 10px; */
    justify-content: space-evenly;
    /* box-sizing: border-box; */
}


.textH1{
    font-size: 32px;
    font-weight: bold;
    /* text-transform: uppercase; */
    text-align: center;
    /* background-image: url('../../img/rockTexture.jpg');
    background-repeat: repeat; */
    background-color: rgb(214, 70, 45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-stroke: 1px #67d5e4;
    -webkit-text-stroke: 1px #0a0f0a;
    font-family: "Copperplate", monospace;
}

.textH4{
    font-size: 18px;
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  /* background-image: url('../../img/rockTexture.jpg');
  background-repeat: repeat; */
  background-color: rgb(20, 20, 20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-stroke: 1px #67d5e4;
  -webkit-text-stroke: 1px #0a0f0a;
  font-family: "Copperplate", monospace;
}


.country_map {
    display: flex;
    flex-wrap: wrap;
    /* max-height: 75vh; */
    /* min-width: 50vw; */
    margin: 10px;
    border: 5px solid #535353;
    padding: 10px;
    /* box-sizing: border-box; */
}

img{
    max-height: 70vh;
}

