.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
  label {
    display: inline-block;
    width: 185px;
  }
  
  input[type="text"],
  textarea,
  input[type="date"],
  input[type="name"] {
    flex: 1;
    /* margin-left: 10px; */
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
    width: 8vw;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: default;
  } 



/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;    
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: default;
  } */


/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: default;
  }


  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  
/*
.about{
    
    font-size: 2vw;
   
    align-items: center;
 

    color : white;

    width: 98%;
    height: 100%;
    background-color: #c5c5c5a2;  
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 0.5em;
    padding: 5px;
    border-radius: 25px ;

    
  }
  
  .title {
    font-size: 4vh;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: rgb(27, 93, 5)
  }

  .button {
    background-color: #4CAF50; 
    border-radius: 25px ;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0vw;
  }

  .warning {
    font-size: 1em;
    border: solid red 1px;
    border-radius: 0.2em;
  }
  .p{
    font-size: 0.5em;
  }
  .danger {
    font-size: 1em;
    color: red;
    margin-left: 2em;
  } */ 