/* Popup style */
.popup_box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #67d5e4;
    border-radius: 24px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  
  .close_icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(25% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

.textH1{
    font-size: 32px;
    font-weight: bold;
    /* text-transform: uppercase; */
    text-align: center;
    /* background-image: url('../../img/rockTexture.jpg');
    background-repeat: repeat; */
    background-color: rgb(0, 0, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-stroke: 1px #67d5e4;
    -webkit-text-stroke: 1px #0a0f0a;
    font-family: "Copperplate", monospace;
}

.textH2{
    font-size: 28px;
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  /* background-image: url('../../img/rockTexture.jpg');
  background-repeat: repeat; */
  background-color: rgb(20, 20, 20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-stroke: 1px #67d5e4;
  -webkit-text-stroke: 1px #0a0f0a;
  font-family: "Copperplate", monospace;
}
