table {
    border-collapse: collapse;
    /* width: 70%; */
    max-width: 70vw;
    margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 65px;
    
  }
  
  thead th {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    
  }
  
  tbody td {
    border: 1px solid #dddddd;
    text-align:initial;
    
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.685);
  }

  tbody td:disabled {
    opacity: 0.5;
    cursor: default;
  } 
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 1.2rem;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  /* td:nth-child(1) {
    width: 20%;
  }
   */

  td:nth-child(1) {
    width: 20%;
  }
  
  td:nth-child(2) {
    width: 70%;
  }
  
  .scrollable-container {
    display: flex;
    justify-content: space-between;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .column {
    width: 48%;
  }
  
  .column:first-child {
    margin-right: 4%;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
    width: 8vw;
  }
  